@use "./utils" as *;

// viewport

:root {
  --viewport: 1440;

  @include mobile {
    --viewport: 375;
  }
}

// fonts

:root {
  --font-semibold: "Semibold";
}

// transitions

:root {
	--default-ease: cubic-bezier(0.83, 0, 0.17, 1);
}

// colors

:root {
  --c-black: #000000;
  --c-white: #ffffff;
	--c-accent: #E1321F;
	--c-dark: #191919;
}

// Dark theme overrides
html[data-theme="light"] {
  --c-black: #ffffff;
  --c-white: #000000;
  --c-accent: #191919;
  --c-dark: #ffffff;
}